<tab-component>
    <div tab-header class="tab-header mat-h2">
        {{ header }}
    </div>
    <div tab-body>
        <app-data-panel
                [dataSource]="dataSource"
                [searchPlaceholder]="searchPlaceholder"
                [filterButtonsGroupConfig]="filterButtonsGroupConfig"
                [tableConfig]="tableConfig"
                [disableDropDown]="true"
                (actionButtonClick)="onActionButtonClick($event)"
        ></app-data-panel>
    </div>
</tab-component>
