<mat-sidenav-container class="sidebar">
    <mat-sidenav class="sidebar__body" mode="side" opened>
        <div class="sidebar__title">{{(admin$|async).login}}</div>
        <ul class="sidebar-links">
            <li class="sidebar-list-item" *ngFor="let link of linksData">
                <a *ngIf="!link.disabled"
                   class="sidebar-link"
                   [routerLink]="link.route"
                   routerLinkActive="sidebar-link_active"
                >
                    {{ link.title }}
                </a>

                <span *ngIf="link.disabled"
                      class="sidebar-link"
                >
                    {{ link.title }}
                </span>
            </li>
            <li class="sidebar-list-item">
                <a
                        class="sidebar-link"
                        (click)="logout()"
                        href="javascript:void(0)"
                >
                    Выход
                </a>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content class="sidebar__content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
